ws_eclipse/.metadata
cpp/kuka_drawingface/qt_opencv_server_kuka_app/*.autosave
cpp/kuka_drawingface/qt_opencv_server_kuka_app/*.Debug
cpp/kuka_drawingface/qt_opencv_server_kuka_app/*.Release
cpp/kuka_drawingface/qt_opencv_server_kuka_app/*.user
cpp/kuka_drawingface/qt_opencv_server_kuka_app/*.rc
cpp/kuka_drawingface/qt_opencv_server_kuka_app/debug/*.o
cpp/kuka_drawingface/qt_opencv_server_kuka_app/release/*.o
*/*.autosave
*/*.Debug
*/*.Release
*/*.user
*/*.rc
*/*.o
*/*.o
*/.metadata/
*/.settings/
*/bin/
*/.classpath
*/.project
*/koko2/
*/*.xml
